.sidebar {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: -5px;
  bottom: -5px;
  left: -5px;
  overflow-x: hidden;
  border: solid;
  padding-top: 5px;
  padding-left: 5px;
}

.main {
  margin-left: 300px;
}

button {
    border: none;
    background: #ffe30d;
    width: 200px;
    height: 25;
    margin: 5 0;
}
